
{% extends "layout.html" %}
{% block title %}{% endblock %}
{% block page %}Brainstormin' Spelling Bee{% endblock %}

{{ super() }}
{% block content %}

<style>
    .flexbox-container{
        display:flex;
        min-width: 1400px;
        padding-top: 10px;
        padding-right: 10px;
    }
    .flexbox-item{
        /* width:110%; */
        /* height:100%; */
        flex-direction:row;   
    }


    .buttonRet{
        font: 24px Forte;
        text-decoration: none;
        width:200px;
        height:70px;
        background-color: hsl(59, 79%, 68%);
        color: hsl(0, 0%, 24%);
        padding-top:10px;
        padding-bottom:10px;
        padding-left:120px;
        padding-right:120px;
        /* padding: 2px 6px 2px 6px; */
        border-top: 1px solid hsl(0, 0%, 24%);
        border-right: 1px solid hsl(0, 0%, 24%);
        border-bottom: 1px solid hsl(0, 0%, 24%);
        border-left: 1px solid hsl(0, 0%, 24%);
    }

    .buttonRet:hover{
        font: 24px Forte;
        text-decoration: none;
        width:200px;
        height:70px;
        background-color: hsl(59, 79%, 68%);
        color: hsl(0, 0%, 24%);
        padding-top:15px;
        padding-bottom:15px;
        padding-left:125px;
        padding-right:125px;
        /* padding: 2px 6px 2px 6px; */
        border-top: 3px solid hsl(0, 0%, 24%);
        border-right: 3px solid hsl(0, 0%, 24%);
        border-bottom: 3px solid hsl(0, 0%, 24%);
        border-left: 3px solid hsl(0, 0%, 24%);
    }


    .button {
        margin-left: 35%;
        font: 24px Forte;
        text-decoration: none;
        width:200px;
        height:70px;
        background-color: hsl(59, 85%, 51%);
        color: hsl(0, 0%, 24%);
        padding-top:10px;
        padding-bottom:10px;
        padding-left:120px;
        padding-right:120px;
        /* padding: 2px 6px 2px 6px; */
        border-top: 1px solid hsl(0, 0%, 24%);
        border-right: 1px solid hsl(0, 0%, 24%);
        border-bottom: 1px solid hsl(0, 0%, 24%);
        border-left: 1px solid hsl(0, 0%, 24%);
    }

    .button:hover{
        font: 24px Forte;
        text-decoration: none;
        width:200px;
        height:70px;
        background-color: hsl(59, 79%, 68%);
        color: hsl(0, 0%, 24%);
        padding-top:15px;
        padding-bottom:15px;
        padding-left:125px;
        padding-right:125px;
        /* padding: 2px 6px 2px 6px; */
        border-top: 3px solid hsl(0, 0%, 24%);
        border-right: 3px solid hsl(0, 0%, 24%);
        border-bottom: 3px solid hsl(0, 0%, 24%);
        border-left: 3px solid hsl(0, 0%, 24%);
    }

    #userinput{
        margin-top: 5%;
    }

    .textToSpeechbutton{
        background-color: hsl(59, 85%, 51%);
        border: none;
        color: hsl(0, 0%, 24%);
        font: 24px Forte;
        padding: 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        border-radius: 100%;
        margin-top: 5%;
    }

   .textToSpeechbutton:hover{
        background-color: hsl(59, 79%, 68%);
        border: none;
        color: hsl(0, 0%, 24%);
        font: 24px Forte;
        padding: 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        border-radius: 100%;
        margin-top: 5%;
    }

    .myBtn{
        background-color: hsl(59, 79%, 68%);
        color: hsl(0, 0%, 24%);
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
    }

    .myBtn:hover{
        background-color: hsl(59, 35%, 47%);
        color: hsl(0, 0%, 24%);
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
    }

    .unselectable, .difficulty {
        -moz-user-select: -moz-none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    #endgame{
        display: none;
    }

/* modal stuff */
    .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
    font: 24px Forte;
    text-align: center;
    background-color: hsl(59, 85%, 51%);
    margin: auto;
    padding: 20px;
    border: 1px solid  hsl(59, 35%, 47%);
    width: 80%;
    }

    .scoreDiv, .timerDiv{
    font: 24px Forte;
    color: hsl(0, 0%, 24%);
    }
   
</style>
<div id="mode" class="difficulty" style="color:hsl(59, 57%, 75%)">{{difficulty}}</div>

{% set selected_word = words|random %}
<div id = "gameplay">
    <div id = "test" style="color:hsl(59, 57%, 75%)" class="unselectable">{{words}}</div>

    <div class ="scoreDiv">Score: <span id="score"></span></div>
    <div class ="timerDiv">Time: <span id="timer"></span></div>

    <a class = "textToSpeechbutton" onclick="speakbutton()" >Speak</a>
    <input type="text" id="userInput" autocomplete="off" name="userInput"><br>
    <button id="myBtn" class="myBtn" onclick="clickbtn()">Submit</button><br>
    <a class = "button" onclick="extractWords();startTimer();">Begin</a>
    <div id="test2" class="unselectable"></div>
</div>

<!-- Testing a modal idea -->
<div id="modal" class="modal ">
    <div class="modal-content">
        <h1>Game Over</h1>
        <div> <h3>Final Score: <span id="finscore"></span></h3></div>
        <a class = "buttonRet" href="/home" onclick="sendUserScore()" >Main Menu</a>
    </div>
</div>



<script>    
    var input = document.getElementById("userInput");
    input.addEventListener("keyup", function(event) {
    if (event.keyCode === 13) {
      event.preventDefault();
      document.getElementById("myBtn").click();
      event.currentTarget.value = "";
  }
});

//Send Score
function sendUserScore(){
    var currScore = document.getElementById('score').innerHTML;
    var currMode = document.getElementById('mode').innerHTML;
    console.log(currScore, currMode);
    let userval = {
        'mode': currMode ,
        'score': currScore
    }
    const request = new XMLHttpRequest()
    request.open('POST', `/getScore/${JSON.stringify(userval)}`)
    request.onload = () => {
        const flaskMessage = request.responseText
        console.log(flaskMessage)
    }
    request.send()
}

</script>
{% endblock %}

