</style>
{% extends "layout.html" %}
{% block title %}{% endblock %}
{% block page %}Brainstormin' Spelling Bee{% endblock %}

{{ super() }}
{% block content %}

<style>
    .flexbox-container{
        display:flex;
        min-width: 1400px;
        padding-top: 10px;
        padding-right: 10px;
    }
    .flexbox-item{
        /* width:110%; */
        /* height:100%; */
        flex-direction:row;   
    }
    .button {
        margin-left: 35%;
        font: 24px Forte;
        text-decoration: none;
        width:200px;
        height:70px;
        background-color: hsl(59, 85%, 51%);
        color: hsl(0, 0%, 24%);
        padding-top:10px;
        padding-bottom:10px;
        padding-left:120px;
        padding-right:120px;
        /* padding: 2px 6px 2px 6px; */
        border-top: 1px solid hsl(0, 0%, 24%);
        border-right: 1px solid hsl(0, 0%, 24%);
        border-bottom: 1px solid hsl(0, 0%, 24%);
        border-left: 1px solid hsl(0, 0%, 24%);
    }

    .button:hover{
        font: 24px Forte;
        text-decoration: none;
        width:200px;
        height:70px;
        background-color: hsl(59, 85%, 51%);
        color: hsl(0, 0%, 24%);
        padding-top:15px;
        padding-bottom:15px;
        padding-left:125px;
        padding-right:125px;
        /* padding: 2px 6px 2px 6px; */
        border-top: 3px solid hsl(0, 0%, 24%);
        border-right: 3px solid hsl(0, 0%, 24%);
        border-bottom: 3px solid hsl(0, 0%, 24%);
        border-left: 3px solid hsl(0, 0%, 24%);
    }

    #userinput{
        margin-top: 5%;
    }

    .textToSpeechbutton{
        background-color: hsl(59, 85%, 51%);
        border: none;
        color: hsl(0, 0%, 24%);
        font: 24px Forte;
        padding: 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        border-radius: 100%;
        margin-top: 5%;
    }

   .textToSpeechbutton:hover{
        background-color: hsl(59, 79%, 68%);
        border: none;
        color: hsl(0, 0%, 24%);
        font: 24px Forte;
        padding: 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        border-radius: 100%;
        margin-top: 5%;
    }

    .myBtn{
        background-color: hsl(59, 79%, 68%);
        color: hsl(0, 0%, 24%);
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
    }

    .myBtn:hover{
        background-color: hsl(59, 35%, 47%);
        color: hsl(0, 0%, 24%);
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
    }

    .unselectable {
        -moz-user-select: -moz-none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
   
</style>

{% set selected_word = words|random %}
<div id = "test" style="color:hsl(59, 57%, 75%)" class="unselectable">{{words}}</div>

<a class = "textToSpeechbutton" onclick="speakbutton()" >Speak</a>
<input type="text" id="userInput" autocomplete="off" name="userInput"><br>
<button id="myBtn" class="myBtn" onclick="clickbtn()">Submit</button><br>
<a class = "button" onclick="extractWords();" >Begin</a>
<div id="test2" class="unselectable"></div>

<script>    
    var input = document.getElementById("userInput");
    input.addEventListener("keyup", function(event) {
    if (event.keyCode === 13) {
      event.preventDefault();
      document.getElementById("myBtn").click();
  }
});
</script>


{% endblock %}

