{% extends "layout.html" %}
{% block title %}Brainstormin' Spelling Bee{% endblock %}
{% block page %}Brainstormin' Spelling Bee{% endblock %}

{{ super() }}
{% block content %}

<style>
    .flexbox-container{
        display:flex;
        min-width: 1400px;
        padding-top: 10px;
        padding-right: 10px;
    }
        /* display:flex; */
        /* border: 3px solid black; */
        /* min-width: 1400px;
        padding-top: 10px;
        padding-right: 10px; */
    /* .flexbox-container{
        padding-top: 20%;
        margin-left: 55%;
        width:600px;
        height:100%;
        flex-direction: column;
        /* border: 3px solid black; */
        /*display: flex;
        justify-content:center;/*determines where on the main axis the flexboxes will be located */
        /*align-items:center;*/ /*Determines how flexbox items are aligned in the flex container*/

    /* } */
    .flexbox-item{
        /* width:110%; */
        /* height:100%; */
        flex-direction:row;
        
    }

    .flexbox-image{
        float:left;
        padding-top:50px;
        /* background-color: hsl(203, 37%, 75%); */
        /* margin-right: 20%; */
        /* margin-right: 100px; */
        /* border: 3px double hsl(0, 0%, 24%); */
        /* border-style: ; */
        /* margin-top:10px;
        margin-bottom:10px;
        margin-left:10px;
        margin-right:100px; */
        /* align-self: flex-start; */
    }

    .flexbox-item-1{
        width: 200px;
        padding-top: 300px;
        /* float:right; */
        /* width:500px;
        height:100px;
        padding:10px;
        border: 3px solid black;
        margin-top:10px;
        margin-bottom:10px;
        margin-left:10px;
        margin-right:10px; */
        /* align-self: flex-end; */
    }

    .flexbox-item-2{
        width: 200px;
        padding-top: 300px;
        /* margin-top: 300px; */
        /* float:right; */
        margin-left: 10px;
        /* width:500px;
        height:100px;
        padding:10px;
        border: 3px solid black;
        margin-top:30px;
        margin-bottom:10px;
        margin-left:20px;
        margin-right:10px; */
        /* align-self: flex-end; */
    }

    /* .flexbox-item{
        width:500px;
        height:100px;
        padding:10px;
        border: 3px solid black;
        margin-top:10px;
        margin-bottom:10px;
        margin-left:10px;
        margin-right:10px;
    }

    .flexbox-item-2{
        width:500px;
        height:100px;
        padding:10px;
        border: 3px solid black;
        margin-top:30px;
        margin-bottom:10px;
        margin-left:20px;
        margin-right:10px;
    } */

    .button {
        font: 24px Forte;
        text-decoration: none;
        /* width:300px;
        height:70px; */
        background-color: hsl(59, 85%, 51%);
        color: hsl(0, 0%, 24%);
        padding-top:10px;
        padding-bottom:10px;
        padding-left:20px;
        padding-right:20px;
        /* padding: 2px 6px 2px 6px; */
        border-top: 1px solid hsl(0, 0%, 24%);
        border-right: 1px solid hsl(0, 0%, 24%);
        border-bottom: 1px solid hsl(0, 0%, 24%);
        border-left: 1px solid hsl(0, 0%, 24%);
    }

    .button:hover{
        font: 24px Forte;
        text-decoration: none;
        width:200px;
        height:70px;
        background-color: hsl(59, 85%, 51%);
        color: hsl(0, 0%, 24%);
        padding-top:15px;
        padding-bottom:15px;
        padding-left:25px;
        padding-right:25px;
        /* padding: 2px 6px 2px 6px; */
        border-top: 3px solid hsl(0, 0%, 24%);
        border-right: 3px solid hsl(0, 0%, 24%);
        border-bottom: 3px solid hsl(0, 0%, 24%);
        border-left: 3px solid hsl(0, 0%, 24%);
    }
    .button1 {
        margin-left: 43%;
    }


</style>
<div class="flexbox-container">
    <!-- <h1>Main Menu</h1> -->
    <div class="flexbox-image">
        <img src= "{{ url_for('static', filename='BrainStormLogo2.png') }}" alt="Logo" width="750" height="550">
        </div>
    <div class="flexbox-item flexbox-item-1">
    <a class = "button" href="/difficulty">Start Game</a>
    </div>  

    <div class="flexbox-item flexbox-item-2">
    <a class = "button" href="/highscores">High Scores</a>  
    </div>

</div>
{% endblock %}