<!doctype html>
<html>
  <head>
  
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
     <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}{% endblock %}</title>
<style>
body{
  background-color: hsl(59, 57%, 75%);
}

@media all and (max-width: 500px){
  body{
    background-color: hsl(59, 57%, 75%);
  }


  .flexbox-container{
    padding-top: 12px;
    padding-bottom: 250px;
    padding-right: 100px;
  }

@media (orientation: landscape){
  body{
    background-color:hsl(59, 85%, 51%);
  }


}


}
</style>
  </head> 
    <nav style = "background-color: hsl(59, 85%, 51%); height:90px; width:1400px;" >
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo center" style="color:hsl(0, 0%, 24%); font: 30px Forte; text-align: center;">{% block page %}{% endblock %}</a>
        <div class="nav-wrapper">
          {% if current_user.is_authenticated %}
            <ul id="nav-mobile" style="color:black;">
              <li><a href="/home" style="color:black;">Main Menu</a></li>
                
                <!-- <li><a href="/users" style="color:black;">Users Jinja</a></li>
                <li><a href="/static/users" style="color:black;">Users JS</a></li>
                <li><a href="/login" style="color:black;">Log In</a></li>
                <li><a href="/signup" style="color:black;">Sign Up</a></li> -->
            </ul>
            <!-- {% endif %}
            {% if current_user.is_authenticated %} -->
            <ul style="float:right;">
              <li style="color:black;">Welcome {{ current_user.username }}!</li>
              <li><a href="/logout" style="color: hsl(59, 85%, 51%); color:black; margin-right: 10px;">Logout</a></li>
            </ul>
            {% endif %}
        </div>
      </div>
    </nav>
    
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <nav class="white black-text" style="padding: 10px">
      <div class="nav-wrapper">
          <ul class="flashes">
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
          </ul>
      </div>
    </nav>
    {% endif %}
    {% endwith %}

    <div class="container" id="content">{% block content %}{% endblock %}</div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
  </body>
</html>
